<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" upscale=True as im %}
    <a href="{% url 'recipe' recipe.author recipe.id %}"><img class="card-img" src="{{ im.url }}" alt="картинка"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author recipe.id %}">{{ recipe.title }}</a>
        <ul class="card__items">
            <li class="card__item">
                {% for tag in recipe.tag.all %}
                <span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span>
                {% endfor %}
            </li>
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>
                {{ recipe.cooking_time }} мин.
            </p>
            <p class="card__text"><span class="icon-user"></span>
                <a href="{% url 'profile' recipe.author %}" style="color: black; text-decoration: none">
                    {{ recipe.author}}</a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% include 'buttons/purchase.html' with index=True %}
        {% include 'buttons/favorite.html' %}
    </div>
</div>
