{% extends "base.html" %}
{% block title %}Изменить пароль{% endblock %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}

<main class="main container">
    <style type="text/css">
        * {
            padding: auto;
            margin: auto;
            text-align: center;
        }
    </style>
    <h1 class="main__title center">
        Ссылка на восстановление пароля отправлена!
    </h1>
    <br>
    <h2>Проверьте свою почту, вам должно прийти письмо с ссылкой для восстановления пароля.
    </h2>
</main>

{% endblock %}
