{% extends "base.html" %}
{% block title %}Мои подписки{% endblock %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static '/pages/myFollow.css' %}">
{% endblock %}

{% block nav %}
{% include "includes/nav.html" with my_follow=True %}
{% endblock %}

{% block content %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки {{ page.recipe }}</h1>
    </div>
    <div class="card-list">

        {% for recipe in page %}
        <div class="card-user" data-author="{{ recipe.author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ recipe.author }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in recipe.author.recipes.all|slice:":3" %}
                    <li class="card-user__item">
                        <div class="recipe">
                            {% load thumbnail %}
                            {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="картинка" class="recipe__image">
                            {% endthumbnail %}
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="{% url 'profile' recipe.author %}" class="card-user__link link">
                            {% if 3 < recipe.author.recipes.count and recipe.author.recipes.count < 5 %} Еще <!>
                                {{ recipe.author.recipes.count }} рецепта... {% elif 4 < recipe.author.recipes.count %}
                                    Еще {{ recipe.author.recipes.count }} рецептов... {% endif %} </a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                {% include "buttons/subscribe.html" with myfollow=True %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not page %}
    <h1 class="main__title" style="text-align: center;">Пока тут пусто!</h1>
    {% endif %}
    {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}
</main>

{% endblock %}

{% block js %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/MainCards.js' %}"></script>
<script src="{% static '/js/components/MyFollow.js' %}"></script>
<script src="{% static '/js/components/Subscribe.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static '/js/site/myFollow.js' %}"></script>
{% endblock %}
